<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>HomeMainServlet</display-name>
    <servlet-name>HomeMainServlet</servlet-name>
    <servlet-class>com.KoreaIT.java.Jsp_AM.HomeMainServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HomeMainServlet</servlet-name>
    <url-pattern>/HomeMainServlet</url-pattern>
  </servlet-mapping>
  <display-name>JSP_AM_2024_01</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ArticleListServlet</display-name>
    <servlet-name>ArticleListServlet</servlet-name>
    <servlet-class>com.KoreaIT.java.Jsp_AM.ArticleListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ArticleListServlet</servlet-name>
    <url-pattern>/ArticleListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ArticleDetailServlet</display-name>
    <servlet-name>ArticleDetailServlet</servlet-name>
    <servlet-class>com.KoreaIT.java.Jsp_AM.ArticleDetailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ArticleDetailServlet</servlet-name>
    <url-pattern>/ArticleDetailServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ArticleInsertServlet</display-name>
    <servlet-name>ArticleInsertServlet</servlet-name>
    <servlet-class>com.KoreaIT.java.Jsp_AM.servlet.ArticleInsertServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ArticleInsertServlet</servlet-name>
    <url-pattern>/ArticleInsertServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MemberJoinServlet</display-name>
    <servlet-name>MemberJoinServlet</servlet-name>
    <servlet-class>com.KoreaIT.java.Jsp_AM.servlet.MemberJoinServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemberJoinServlet</servlet-name>
    <url-pattern>/MemberJoinServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IdCheckServlet</display-name>
    <servlet-name>IdCheckServlet</servlet-name>
    <servlet-class>com.KoreaIT.java.Jsp_AM.servlet.IdCheckServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IdCheckServlet</servlet-name>
    <url-pattern>/IdCheckServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MemberDoJoinServlet</display-name>
    <servlet-name>MemberDoJoinServlet</servlet-name>
    <servlet-class>com.KoreaIT.java.Jsp_AM.servlet.MemberDoJoinServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemberDoJoinServlet</servlet-name>
    <url-pattern>/MemberDoJoinServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MemberLoginServlet</display-name>
    <servlet-name>MemberLoginServlet</servlet-name>
    <servlet-class>com.KoreaIT.java.Jsp_AM.servlet.MemberLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemberLoginServlet</servlet-name>
    <url-pattern>/MemberLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoLoginServlet</display-name>
    <servlet-name>DoLoginServlet</servlet-name>
    <servlet-class>com.KoreaIT.java.Jsp_AM.servlet.DoLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoLoginServlet</servlet-name>
    <url-pattern>/DoLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>doLogout</display-name>
    <servlet-name>doLogout</servlet-name>
    <servlet-class>com.KoreaIT.java.Jsp_AM.servlet.doLogout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>doLogout</servlet-name>
    <url-pattern>/doLogout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MemberDoLogout</display-name>
    <servlet-name>MemberDoLogout</servlet-name>
    <servlet-class>com.KoreaIT.java.Jsp_AM.servlet.MemberDoLogout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemberDoLogout</servlet-name>
    <url-pattern>/MemberDoLogout</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>ArticleFilter</display-name>
    <filter-name>ArticleFilter</filter-name>
    <filter-class>com.KoreaIT.java.Jsp_AM.servlet.ArticleFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>ArticleFilter</filter-name>
    <url-pattern>/ArticleFilter</url-pattern>
  </filter-mapping>
  <filter>
    <display-name>MemberFilter</display-name>
    <filter-name>MemberFilter</filter-name>
    <filter-class>com.KoreaIT.java.Jsp_AM.servlet.MemberFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>MemberFilter</filter-name>
    <url-pattern>/MemberFilter</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>DispatcherServlet</display-name>
    <servlet-name>DispatcherServlet</servlet-name>
    <servlet-class>com.KoreaIT.java.Jsp_AM.servlet.DispatcherServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DispatcherServlet</servlet-name>
    <url-pattern>/DispatcherServlet</url-pattern>
  </servlet-mapping>
</web-app>